
    :root{
        --primary : black;
        --secondary : rgb(47, 46, 46);
        --extra1 : red;
        --extra2 : blue;
        --text : white;
        --link : aqua;
    }
html {
  scroll-behavior: smooth;
}

body{
    background: linear-gradient(to bottom, rgb(13, 13, 13), var(--secondary), var(--primary));
    height: auto;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
}
header{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 0 22px ;
    color: var(--text);
}
.title{
    color:var(--text) ;
    text-shadow: 0 0 10px var(--extra2);
}
.buttonmenu{
    background-color: rgb(64, 67, 67);
    border: none;
    border-radius: 4px;
}
.buttonmenu:active{
    background-color: rgb(40, 42, 42);
}


nav{
    display: flex;
    background-color: var(--primary);
    margin: 2px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap:wrap;
    gap: 18px;
    padding: 12px 14px;
    
}
.link{
    color: var(--link) ;
    text-decoration: none;
    font-size: large;
}
.link:hover{
    text-decoration: underline;
}
.link:focus{
    color: var(--extra2);
}


main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    gap: 20px;
}
.info{
    margin-top: 20px;
}
.name{
   display: block;
   text-shadow: 0 0 3px white;
}
.buttonfile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: var(--extra1);
    color: var(--text);
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 4px;
    text-decoration: none;
    animation: pulseglow 1s infinite ;
}
.button:hover{
    transform: scale(1.04);
    transition: 0.5s;
    background-color: rgb(255, 77, 0);
    cursor: pointer;
}
.button:active{
    background-color: rgb(74, 3, 3);
}
@keyframes pulseglow{
    0% {transform: scale(1); box-shadow: 0 0 2px rgb(74, 22, 22);}
    50% {transform: scale(1.04); box-shadow: 0 0 10px rgb(223, 9, 9);}
    100% {transform: scale(1); box-shadow: 0 0 2px rgb(79, 23, 23);}
}

article{
    background-color:var(--primary);
    padding: 30px 20px;
    border-radius: 6px;
    margin: 2px 0 2px;
}
.type.reveal{
    opacity: 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid aqua;
}
@keyframes typing {
    from{opacity: 0; width: 0;} to {opacity: 1; width: 100%;border-right: none;}
   
}
.type.reveal.active{
    animation: typing 2s steps(30) forwards;
}
.Qualification, td{
    border: 1px solid;
    padding: 2px;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.card.reveal{
    background-color: var(--secondary);
    padding: 15px;
    margin: 3px;
    border-radius: 5px;
    opacity: 0;
}
.card.reveal.active{
    animation: fadein 1s forwards;
}
.subcard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    padding: 10px 20px;
    animation: pulse 2s infinite;
}
.card:hover{
    transform: scale(1.04);
    transition: 0.5s;
    box-shadow: 0 0 10px rgb(248, 249, 250);
}

.projects{
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.view{
    animation: none;
    font-size: medium;
}
.tag{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    margin: 20px 30px 10px 20px;
}

.contact{
    background-color: rgb(70, 70, 70);
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}
.contact a{
    color: rgb(102, 103, 103);
}
form{
    max-width: 800px;
    width: auto;   
     margin: 50px auto;
  padding: 30px;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 0 10px #00000055;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
form label{
    display: block;
    margin: 10px 10px ;
}
form input, textarea{
    width: 95%;
    padding: 12px;
    border: 1px solid #333;
    background-color: var(--secondary);
    color: white;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}
form input:focus, textarea:focus{
    border-color: #0af;
    box-shadow: 0 0 8px #0af; 
}
.submit{
  
  max-width: 500px;
  margin: 20px 15px 0 15px ;
  padding: 12px;
  border: none;
  background-color: #0af;
  color: black;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit:hover {
  background-color: #09c;
  transform: scale(1.03);
}
footer{
    background-color: rgba(236, 220, 220, 0.184);
    padding: 2px;
    text-align: center;   
}
.foot p{
    color: var(--primary);
    font-size: medium;
}

@keyframes pulse {
    0%{ box-shadow: 0 0 1px rgb(146, 204, 224);}
    50%{ box-shadow: 0 0 10px rgb(146, 204, 224);}
    100%{ box-shadow: 0 0 1px rgb(146, 204, 224);}
}
@keyframes fadein {
    from{transform: translateX(50px);} to {transform: translateX(0px); opacity: 1;}
}
@media (min-width : 500px) {
    main{
        flex-direction: row-reverse;
        justify-content: center;
    }
}
